body {
    background: linear-gradient(to top, #8ea48e, #28722c); 
    font-family: 'Times New Roman', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300vh;
    margin: 2px;
}

.container {
    background-color: white; 
    border-radius: 25px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    padding: 25px;
    width: 200px;
    text-align: center;
    animation: fadeIn 1s ease-out; 
}
h1 {
    color: black;
    margin-bottom: 10px;
}
.slides {
    margin-bottom: 10px;
}

.slide {
    display: none;
    transition: opacity 0.6s ease;
}

.slide.active {
    display: block;
    opacity: 0.9;
}


button {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 9px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.5s, transform 0.3s;
}

button:hover {
    background-color: #45a049;
    transform: scale(1.05);
}

label {
    display: block;
    background-color: #e0e0e0;
    border-radius: 10px;
    padding: 10px;
    margin: 15px 0;
    transition: background-color 0.3s, color 0.3s;
}

label:hover {
    background-color: #4CAF50;
    color: white;
}

.result {
    margin-top: 20px;
    font-weight: bold;
    color: #000000;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
